* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #009688;
  --grey: #d8dbd5;
  --lightgrey: #f3eeea;
  --lightblue: #8edafc;
}

body {
  padding-top: 5vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, var(--green) 15%, var(--grey) 15%);
  font-family: "Helvetica", Sans-serif;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

.container {
  z-index: 1;
  width: 80%;
  margin: auto;
  height: 90vh;
  background-color: var(--grey);
  display: flex;
  position: relative;
  gap: 10px;
}

.left-bar {
  background-color: white;
  flex: 1;
  min-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.right-bar {
  flex: 2;
  background-image: url("img/hero.jpg");
  position: relative;
}

.header {
  background-color: var(--lightgrey);
  min-height: 80px;
  width: 100%;
}

.right-bar .footer {
  background-color: var(--lightgrey);
  min-height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.left-bar .header {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-bar #self-name {
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

.left-bar .self-profile {
  display: flex;
  align-items: center;
}

.left-bar .header img, .right-bar .header img {
  height: 50px;
  border-radius: 100%;
}

.left-bar .icons {
  color: grey;
  display: flex;
  gap: 20px;
}

.left-bar .activate-notification {
  min-height: 80px;
  background-color: var(--lightblue);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 12px;
}

.left-bar .activate-notification .image {
  background-color: white;
  padding: 10px;
  border-radius: 100%;
  color: var(--lightblue);
}

.left-bar .activate-notification .text-activate-upper {
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 3px;
}
.left-bar .activate-notification .text-activate-lower a {
  color: inherit;
  opacity: 0.6;
  margin-left: 20px;
  text-decoration: underline;
}

.left-bar .contact-search {
  display: flex;
  padding: 10px;
  min-height: 50px;
  background-color: #fafafa;
}

.left-bar .contacts {
  height: calc(100% - 210px);
  padding: 10px;
  overflow-y: auto;
  overflow-x:hidden;
}

.left-bar .contacts .contact-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.left-bar .contacts img  {
  height: 80px;
  border-radius: 100%;
}

.left-bar .contacts li {
  padding: 10px;
  display: flex;
  gap: 20px;
  height: 100px;
  list-style-type: none;
  position: relative;
}

.left-bar .contacts li::after {
  content: "";
  width: 80%;
  height: 1px;
  background: lightgrey;
  position: absolute;
  bottom: 0;
  left: 20%;
}
.left-bar .contacts li:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.left-bar .contacts li .last-message{
    overflow: hidden;
    position: absolute;
    height: 20%;
    left: 40%;
    bottom: 10%;
    width: 100%;
}





#contact-search {
  padding: 0 20px;
  flex: 2;
  border:none;
  border-radius: 5px;
}

#contact-search::placeholder {
  font-family: Circular, "Font Awesome 5 Free" !important;
  font-weight: 900;
  color: rgb(155, 155, 155);
}

.right-bar .header {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-bar .header .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}



.right-bar .header .icons {
  color: grey;
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-bar .footer {
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#message-input {
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  flex-basis: 80%;
  min-height: 60px;
  font-size: 1.2rem;
  overflow-wrap: anywhere; 
}



